server:
  port: 8761
spring:
  application:
    name: eureka-server
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      default-zone: http://localhost:8761/eureka
  server:
    #不启用默认的保护机制
    enable-self-preservation: false
  instance:
    hostname: eureka-server